{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <h1>IV Fetch</h1>
      <form id="auth-form" method="POST">
        <div class="input-group">
          <select name="auth_service" class="form-control" placeholder="auth service">
            <option value="google">Google</option>
            <option value="ptc">Pokemon Trainer Club</option>
          </select>
        </div>
        <div class="input-group">
          <input type="text" name="username" class="form-control" placeholder="Username" required>
        </div>
        <div class="input-group">
          <input type="password" name="password" class="form-control" placeholder="Password" required/>
        </div>
        <div class="input-group">
          <input type="text" id="location" name="location" class="form-control" placeholder="Location"required/>
        </div>
        <div class="btn-group" role="group">
          <button type="button" id="view-data-button" class="btn btn-primary">View Data</button>
          <button type="button" id="csv-default" class="btn">Get CSV</button>
        </div>
      </form>
    </div>  
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
        <p>IV Fetch will give you lots of good information about your pokemon, including hidden attack, defense, and stamina values, as well as DPS values on their attacks.</p>
        <p>Make sure you set your location to somewhere close to where you last logged in from. Otherwise you may get banned.</p>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  function validate() {
    if (!$('#location').val())
      return false;
    return true;
  }


  $('#view-data-button').click(function() {
    if (validate()) {
      var action = "{{ url_for('data_table')}}";
      $('#auth-form').attr('action', action);
      console.log(action);
      $('#auth-form').submit();
    }
  });
  $('#csv-button').click(function() {
    if (validate()) {
      var action = "{{ url_for('csv')}}";
      console.log(action);
      $('#auth-form').attr('action', action);
      $('#auth-form').submit();
    }
  });
  </script>
  {% endblock %}